<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".physical.PhysicalActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"
            />
        <activity
            android:name=".retailer.RetailerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat"
            />
    </application>

</manifest>